
    <div class="footer">
      <p>
        <div class="col-xs-6">
           TrebaTak Проект розробки інтелектуальної багатоагентної системи автоматизації управління та платформи цифрової трансформації заводу.<br>
          &copy; 2011–2020 <a href="https://github.com/mntmn/spacedeck-open">TrebaTak - оптимізуємо бізнес-процеси разом</a><br>
        </div>
      </p>
    </div>
<script> 
    window.intergramId = "1610918068";
    window.intergramCustomizations = {
        mainColor: "#474747",
        titleClosed: ' Тебе допомога?',
        titleOpen: 'Надішліть запиь звідси',
        introMessage: 'Це спосіб блискавично швидко зв’язатися з автором прпроекту. Напишіть повідомлення внизу і натисніть Enter. Відповім якомога швидше.',
        autoResponse: 'Я вже отримав повідомлення. Де б я не був. Читаю його...',
        autoNoResponse: 'Секунду, заждіть ... ' + 'Ще трооошечки ...',
        alwaysUseFloatingButton: false // Use the mobile floating button also on large screens
    };
    window.intergramServer = "https://krotel.treba.ml"
</script>
<script id="intergram" type="text/javascript" src="https://krotel.treba.ml/js/widget.js"></script>
  </body>
</html>
