<%- include('layouts/outer-header') %>
<div id="landing">
  <section>
    <h1>Працюємо разом, розбудовуючи систему знань, візуалізуючи та структуруючи дані.</h1>
    <p>
      Щоразу, коли потрібно розмістити зображення, текстові нотатки, відео та аудіокліпи на дошці, доступній для кожного учасника проекту, 
    затосунок "дошка-знань" може допомогти вам.
    </p>
    <p>
      "Дошка-знань" не призначена для створення витончених дизайнів, але добре підходить для:
    </p>
    <ul>
      <li>Презентацій</li>
      <li>Колажів</li>
      <li>Віртуальної навчальної дошки</li>
      <li>Аналізу даних для подальшого структурування до карти концепцій</li>
      <li>Колективного вирішення проблем</li>
    </ul>
    <img src="/images/sd6-screenshot.png" alt="Скріншот моделювання процесу перевірки поштомату">
  </section>
</div>
<%- include('layouts/outer-footer') %>
